.header {
    width: 100%;
    padding-top: 50px;
    row-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    min-width: 184px;
    margin-right: 82px;
}
.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    column-gap: 36px;
}
.menu__link {
    font-size: 16px;
    line-height: 19px;
    color: $text-secondary;
    transition: color 0.2s ease-out;
    &:hover {
        color: $accent;
    }
}
.header__btns {
    display: flex;
    align-items: center;
    column-gap: 40px; 
}
.btn-signIn {
    color: $text-secondary;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $accent;
    }
}
.btn-signUp {
    color: $text-secondary;
    padding: 11px 53px;
    text-align: center;
    border: 1px solid #465B95;
    border-radius: 68px;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $accent;
    }
}
.menu-icon {
    display: none;
    flex-direction: column;
    row-gap: 5px;
    width: 24px;
    flex-shrink: 0;
    span {
        width: 100%;
        height: 3px;
        background-color: #8794BA;
    }
}

@media screen and (max-width: 1080px) {
    .header {
        flex-wrap: wrap;
    }
    .header__btns {
        width: 50%;
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .header__btns {
        margin-left: 0;
        width: auto;
        flex-grow: 1;
        justify-content: flex-end;
        padding-right: 18px;
    }
    .header__logo {
        margin-right: 15px;
    }
    .menu-icon {
        display: flex;
    }
    .header__nav {
        display: none;
    }
    .header__nav--show {
        display: flex;
        column-gap: 32px;
    }
    .btn-signUp {
        display: none;
    }
}

@media screen and (max-width: 376px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        background: #172755;
        box-shadow: 0px 4px 4px #12214D;
    }
    .header__logo {
        width: 138px;
        min-width: unset;
    }
}